[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
gunicorn = "*"
countryinfo = "*"
bs4 = "*"
requests = "*"
dash-dangerously-set-inner-html = "*"
dash_defer_js_import = "*"

[dev-packages]

[requires]
python_version = "3.9"
